<main class="min-h-screen flex flex-col justify-center items-center p-4">
  <p-card class="w-100">
    <h1 class="text-xl font-semibold text-center mb-6">
      Login to your Account
    </h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label class="font-bold block mb-2">Phone</label>
        <p-inputmask
          formControlName="phone"
          mask="(+99) 99999-999999"
          placeholder="(+88) 01999-999999"
          styleClass="w-full"
        />
      </div>
      <div>
        <label class="font-bold block mb-2">Phone</label>
        <p-password
          formControlName="password"
          [feedback]="true"
          [fluid]="true"
          [toggleMask]="true"
        />
      </div>

      <p-button type="ngSubmit" styleClass="mt-4 w-full">Login</p-button>
    </form>
  </p-card>
</main>
